<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- <router-outlet></router-outlet>
<app-dashboard></app-dashboard>
<app-manual></app-manual> -->

<!--ACTIVITY 3 __ 01-14-20-->

<!-- <event-binding></event-binding>
<br>
<br>
<class-binding></class-binding><br> -->
<!-- <style-binding></style-binding> <br> -->

<!-- ACTIVITY 4 -->

<!-- 5 & 6 -->
<!-- <app-act5-parent>
</app-act5-parent> -->

<!-- act 7 -->
<!-- <app-act7-data-driven></app-act7-data-driven> -->
<!-- <app-act7-template-driven></app-act7-template-driven> -->

<!-- project registration -->
<!-- <app-registration></app-registration> -->

<!-- http requests -->
<app-http-request-practice></app-http-request-practice>